@media screen and (max-width: 1586px) {
  .section-5 .container {
    max-width: 1110px;
    padding: 35px 0;
    align-items: center;
  }
  .section-5 .container .left-info {
    flex-basis: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .section-1 .container .left-info {
    max-width: 640px;
  }
  .section-1 .container .left-info h1 {
    font-size: 74px;
  }
  .section-1 .container .left-info p.jakarta {
    font-size: 20px;
  }
  .section-1 .container .right-info .photo-wrap {
    width: 400px;
  }
  .section-1 .container .right-info .name {
    padding: 20px 100px;
    right: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .header .container .menu-search-wrapper {
    gap: 50px;
  }

  .section-1 .container .left-info {
    max-width: 500px;
    gap: 80px;
  }
  .section-1 .container .left-info p.jakarta {
    margin-bottom: 30px;
    width: 86%;
    font-size: 18px;
  }
  .section-1 .container .left-info p.jakarta.small {
    font-size: 18px;
  }
  .section-1 .container .left-info h1 {
    line-height: 120%;
    font-size: 54px;
    margin-bottom: 30px;
  }
  .section-1 .container .right-info .photo-wrap {
    width: 350px;
  }
  .section-1 .container .right-info:before {
    width: 580px;
    height: 580px;
  }
  .section-1 .container .right-info::after {
    width: 420px;
    height: 420px;
  }
  .section-1 .container .right-info .name {
    padding: 20px 90px;
    right: 23px;
  }

  .section-2 .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 20px;
  }
  .section-2 .container .right-info .list .list__item img {
    margin-bottom: 2px;
  }
  .section-2 .container .right-info .list .list__item p.jakarta.small {
    font-size: 16px;
  }
}
@media screen and (max-width: 1586px) {
  .section-5 .container .left-info h3 {
    font-size: 40px;
  }
  .section-5 .container .left-info p {
    font-size: 20px;
  }
}
@media screen and (max-width: 852px) {
  body .hamburger {
    display: block;
  }

  .header .container .logo-wrap {
    position: relative;
    top: 25px;
  }
  .header .container .menu-search-wrapper nav {
    display: none;
  }
  .header .container .search-wrap {
    display: none;
  }

  .section-3 .container .bottom-info .list .list__item {
    width: 230px;
  }
  .section-3 .container .bottom-info .list .list__item .small {
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .section-1 .container {
    flex-direction: column;
    align-items: center;
  }
  .section-1 .container .left-info {
    text-align: center;
  }
  .section-1 .container .right-info {
    position: relative;
    left: auto;
    right: auto;
  }

  .section-2 .container {
    flex-direction: column;
  }
  .section-2 .container .right-info .list {
    grid-template-columns: repeat(1, 1fr);
    left: 0;
  }
  .section-2 .container .right-info .list .list__item img {
    align-self: center;
  }
  .section-2 .container .left-info h3.playfair {
    left: 0;
  }
  .section-2 .container .left-info p.small {
    left: 0;
  }

  .section-3 .container .top-info {
    max-width: 300px;
    left: 0;
  }
  .section-3 .container .bottom-info .list {
    flex-direction: column;
    left: 0;
  }
  .section-3 .container .bottom-info .list .list__item.line:before {
    height: 1px;
    width: 100%;
    left: 0px;
    top: -20px;
  }
  .section-3 .container .bottom-info .list .list__item.line:after {
    bottom: -20px;
    right: 0;
    height: 1px;
    width: 100%;
  }

  .section-4 .container h3 {
    left: 0;
    text-align: center;
  }
  .section-4 .container .list {
    left: 0;
    flex-direction: column;
  }

  .section-5 .container {
    flex-direction: column;
    gap: 0;
    left: 0;
    text-align: center;
  }
  .section-5 .container .right-info {
    align-self: flex-end;
    position: relative;
    top: -63px;
  }

  .footer .footer-top .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 636px) {
  .section-5 .container .left-info .btn {
    margin: 0 auto;
  }
  .section-5 .container .right-info {
    top: 20px;
  }
}
@media screen and (max-width: 574px) {
  .footer .footer-top {
    padding: 30px;
  }
  .footer .footer-top .container .right-info {
    gap: 0;
  }
  .footer .footer-top .container .right-info ul.list .list__item {
    margin-bottom: 0;
    font-size: 16px;
  }
  .footer .footer-top .container .right-info ul.list .list__item.title {
    margin-bottom: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 558px) {
  .footer .footer-top {
    padding: 30px;
  }
  .footer .footer-top .container .right-info {
    display: none;
  }

  .footer .footer-bottom .container .right-info .list .list__item {
    width: 36px;
    height: 36px;
  }
  .footer .footer-bottom .container .right-info .list .list__item a {
    width: 36px;
    height: 36px;
  }
  .footer .footer-bottom .container .right-info .list .list__item a i {
    font-size: 16px;
  }
  .footer .footer-bottom .container .right-info .list .list__item a i.icon-4-youtube,
.footer .footer-bottom .container .right-info .list .list__item a i.icon-3-twitter {
    font-size: 14px;
  }
}
@media screen and (max-width: 474px) {
  .section-1 .container .left-info .suptext {
    height: 80px;
    width: 370px;
  }
  .section-1 .container .left-info .suptext span {
    height: 60px;
    border-radius: 20px;
  }
  .section-1 .container .left-info .suptext p {
    white-space: normal;
    width: 207px;
  }
  .section-1 .container .left-info .suptext:hover span {
    transform: translateX(270px);
  }
  .section-1 .container .left-info .suptext:hover p {
    transform: translateX(-130px);
  }
}
@media screen and (max-width: 404px) {
  .section-1 .container .left-info .suptext {
    height: 80px;
    width: 300px;
  }
  .section-1 .container .left-info .suptext span {
    height: 60px;
  }
  .section-1 .container .left-info .suptext p {
    width: 168px;
  }
  .section-1 .container .left-info .suptext:hover span {
    transform: translateX(200px);
  }
  .section-1 .container .left-info .suptext:hover p {
    transform: translateX(-90px);
  }
}